# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
generated

# Environment variables
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Editor directories and files
.idea
.vscode
*.swp
*.swo
.DS_Store

# Prisma local database (if any)
*.db
*.sqlite
*.db-journal
